@{
    ViewData["Title"] = "";
}

<header class="masthead" style="background-image: url('Images/background.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>FoodAll</h1>
                    <span class="subheading">Useful database to help you with your diet.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Food consumption data</h2>
                    <h3 class="post-subtitle">What and how much do Europeans eat and drink? Food consumption data are essential for assessing how exposed people are to potential risks in the food chain</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">DC</a>
                    on January 27, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">New, Free Searchable Database of FDA and USDA Food Recalls</h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">DC</a>
                    on January 27, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Poles may face higher food prices gov't official says </h2>
                    <h3 class="post-subtitle">The prices of food in Poland may surge due to falling agricultural output, the head of the president's consultative body for agriculture has said.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">DC</a>
                    on January 27, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">McDonald's is selling fan-made menu hacks</h2>
                    <h3 class="post-subtitle">New York (CNN Business)McDonald's fans have long been creating menu hacks like using hash browns as a bun. Now the chain is putting some of them on the menu. </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">DC</a>
                    on January 27, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#!">Older News →</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>