@using Microsoft.AspNetCore.Identity
@using self_healthcare.Areas.Identity.Data

@inject SignInManager<WebApp1User> SignInManager
@inject UserManager<WebApp1User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Identity" asp-controller="Diets" asp-action="Index">Make Diet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @UserManager.GetUserName(User)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                Logout
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link px-lg-4 py-3 py-lg-4" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>