Microsoft.EntityFrameworkCore ~ 6.0.1
Microsoft.EntityFrameworkCore.Design ~ 6.0.1
Microsoft.EntityFrameworkCore.Sqlite ~ 6.0.1
Microsoft.EntityFrameworkCore.SqlServer ~ 6.0.1
Microsoft.VisualStudio.Web.CodeGeneration.Design ~ 6.0.1 
Microsoft.AspNetCore.Identity.UI ~ 6.0.1